---
import Layout from "../layouts/Layout.astro";
import "../css/styles.scss";
---

<Layout title="Page non trouvée">
  <div class="py-[70px]"><h1>Page non trouvée</h1></div>
</Layout>

<style></style>
