---
import Layout from "../layouts/Layout.astro";
import "../css/styles.scss";
---

<Layout title="Partenaires">
    <div class="py-[70px] h-screen">
        <div class="flex flex-row justify-center items-center">
            <h1>Partenaires</h1>
        </div>
    </div>
</Layout>

<style></style>
