---
import Layout from '../layouts/Layout.astro';
import Blob from '../components/Blob.svelte';
import Header from '../components/Header.svelte';
---
<Layout title="Test page">
    <main>
        <h1>test page</h1>
        <Blob></Blob>
    </main>
</Layout>

